/* 详情页的样式文件 */
.crumb_wrap {
    height: 25px;
}
.crumb_wrap a {
    margin-right: 10px;
}
.de_container {
    margin-top: 20px;
}
.preview_wrap {
    width: 400px;
    height: 590px;
}
.preview_img {
    height: 398px;
    border: 1px solid #ccc;
}
.preview_list {
    position: relative;
    height: 60px;
    margin-top: 60px;
}
.list_item {
    width: 320px;
    height: 60px;
    margin: 0 auto;
}
.list_item li {
    float: left;
    width: 56px;
    height: 56px;
    border: 2px solid transparent;
    margin: 0 2px;
}
.list_item li.current {
    border: 2px solid #c81623;
}
.arrow_prev,
.arrow_next {
    position: absolute;
    top: 15px;
    width: 22px;
    height: 32px;
}
.arrow_prev {
    left: 0;
}
.arrow_next {
    right: 0;
}
.itemInfo_wrap {
    width: 718px;
}
.sku_name {
    height: 30px;
    font-size: 16px;
    font-weight: 700;
}
.news {
    height: 32px;
    color: #e12228;
}
.summary_price,
.summary_promotion {
    position: relative;
    padding: 10px 0;
    background-color: #fee9eb;

}
.summary dl {
    /* 清除浮动 */
    overflow: hidden;
}
.summary dt,
.summary dd {
    float: left;
}
.summary dt {
    height: 36px;
    width: 60px;
    line-height: 36px;
    padding-left: 10px;
}
.summary dd {
    line-height: 36px;
    width: 450px;
}
.price {
    font-size: 20px;
    color: #e12228;
}
.summary_price a {
    color: #c81623;
}
.remark {
    position: absolute;
    right: 10px;
    top: 20px;
}
.summary_promotion {
    padding-top: 0;
}
.summary_promotion em {
    display: inline-block;
    width: 40px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    color: #fff;
    background-color: #c81623;
}
.choose_color a {
    display: inline-block;
    width: 80px;
    height: 41px;
    text-align: center;
    line-height: 41px;
    background-color: #f7f7f7;
    border: 1px solid #ededed;
}
.choose_color a.current {
    border: 1px solid red;
}
.choose_version {
    margin: 10px 0;
}
.choose_version a {
    display: inline-block;
    height: 32px;
    padding: 0 12px;
    text-align: center;
    line-height: 32px;
    background-color: #f7f7f7;
    border: 1px solid #ededed; 
}
.choose_version a.current {
    border: 1px solid red;
}
.choose_btns {
    margin-top: 20px;
}
.choose_amount {
    position: relative;
    width: 50px;
    height: 46px;
    background-color: pink;
}
.addshopcar {
    display: inline-block;
    width: 142px;
    height: 46px;
    margin-left: 10px;
    text-align: center;
    line-height: 46px;
    font-size: 18px;
    font-weight: 700;
    background-color: #c81623;
    color: #ffffff;
}
.choose_btns input {
    width: 33px;
    height: 44px;
    border: 1px solid #ccc;
    text-align: center;
}
.add,
.reduce {
    position: absolute;
    right: 0;
    width: 15px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.add {
    top: 0;
}
.reduce {
    bottom: 0;
    cursor: not-allowed; 
}

/* 产品细节模块 */
.aside {
    width: 208px;
    border: 1px solid #ccc;
}
.tab_list {
    height: 34px;
}
.tab_list .current {
    background-color: #fff;
    border-bottom: 0;
    color: red;
}
.tab_list li {
    float: left;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
    height: 33px;
    line-height: 33px;
    text-align: center;
}
.first_tab {
    width: 104px;
}
.second_tab {
    width: 103px;
    border-left: 1px solid #ccc;
}
.tab_con {
    padding: 0 10px;
}
.tab_con li {
    border-bottom: 1px solid #ccc;
}
.tab_con li h5 {
    /* 在一行显示 */
    white-space: nowrap;
    /* 多余的隐藏 */
    overflow: hidden;
    /* 以...的形式显示 */
    text-overflow: ellipsis;
    font-weight: 400;
}
.aside_price {
    font-weight: 700;
    margin: 10px 0;
}
.aside_addcar {
    display: block;
    width: 90px;
    height: 28px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    text-align: center;
    line-height: 28px;
    margin: 10px auto;
}
.detail {
    width: 978px;
}
.detail_tab_list {
    height: 39px;
    border: 1px solid #ccc;
    background-color: #f1f1ff;
}
.detail_tab_list li {
    float: left;
    height: 39px;
    padding: 0 20px;
    line-height: 39px;
    text-align: center;
    cursor: pointer;
}
.detail_tab_list .current {
    background-color: #c81623;
    color: #fff;
}
.item_info {
    padding: 20px 0 0 20px;
}
.item_info li {
    line-height: 22px;
}
.more {
    float: right;
    font-weight: 700;
    font-family: 'icomoon';
}
.product_detail {
    margin-bottom: 50px;
}